#player_profile {
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	cursor: pointer;
}
#player_profile .content {
	cursor: initial;
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 706px;
	height: 490px;
	background: #2e1f00;
	justify-content: center;
	align-items: center;
	z-index: 10;
	border-radius: 10px;
	padding: 10px 20px;
	filter: drop-shadow(0 0 5px #aaa);
}
#player_profile .images {
	width: 184px;
	float: left;
}
#player_profile .caption {
	text-align: center;
	font-size: 12px;
	color: #ffaa00;
	margin-top: 5px;
}
#player_profile .img_container {
	width: 184px;
	height: 184px;
	border: 1px solid black;
	background: black;
	filter: drop-shadow(0 0 3px #aaa);
	display: block;
}
#player_profile .spray_img_container {
	margin-top: 20px;
}
#player_profile img {
	object-fit: contain;
	width: 100%;
	height: 184px;
}
#player_profile .name {
	text-align: center;
	font-size: 32px;
	margin-bottom: 15px;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
	filter: drop-shadow(2px 2px 1px #000);
}
#player_profile .profile_details {
	width: 296px;
	float: left;
	font-size: 14px;
	margin-left: 20px;
}
#player_profile .profile_details a, #player_profile .profile_details a:visited {
	color: #1a9fff;
}
#player_profile .profile_details .details {
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
}
#player_profile .profile_details .details table {
	background: #111;
	width: 100%;
	white-space: nowrap;
	border-radius: 4px;
	table-layout: fixed;
}
#player_profile table {
	border-collapse: collapse;
	border: 1px solid #666;
}
#player_profile .details_table td:nth-child(1) {
	font-weight: bold;
	color: #ffaa00;
	width: 40px;
}
#player_profile .profile_details .details_table {
	margin-bottom: 20px;
}
#player_profile .profile_details .alias_header {
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
	color: #FFAA00;
}
#player_profile .profile_details .alias_details {
	width: 100%;
	text-align: left;
}
.alias_details_container {
	max-height: 165px;
	overflow-y: scroll;
}
#player_profile th {
	color: #FFAA00;
}
#player_profile th, #player_profile td {
	padding: 3px 5px;
}
#player_profile th {
	background: #222;
}
#player_profile .alias_details tr:nth-child(odd) {
	background: #111;
}
#player_profile .alias_details tr:nth-child(even) {
	background: #222;
}
#player_profile td:nth-child(1), #player_profile th:nth-child(1) {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#player_profile td:nth-child(2), #player_profile th:nth-child(2) {
	width: 50px;
	max-width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#player_profile td:nth-child(3), #player_profile th:nth-child(3) {
	width: 40px;
}
#player_profile .spray {
	width: 184px;
	float: left;
}
#player_profile .pmodel_container {
	margin-left: 20px;
	float: left;
}
#player_profile .pmodel_container .img_container {
	width: 184px;
	height: 410px;
}
#player_profile .pmodel_container img {
	width: 100%;
	height: 410px;
	object-fit: cover;
}
#player_profile .pmodel_name {
	color: #ddd;
}
.like_cooldown {
	width: 45px;
	color: #ddd;
	background: black;
}